<%- include('../partials/headerwomens') %>

<!--Recent Articles-->

    
    <section id="main" class=" p-0 mb-3">
        <div class="container">
            <div id="list p-0 m-0">
                <!--Article Lists-->
                <h3 class="text-center list-group-item list-group-item-action flex-column align-items-start post" style="background: #8054B4; color: white;">
                    Latest Women's News</h3>
                <div class="list-group m-0 pt-0 article">
                    <% posts.forEach((post, index) => { %>
                    <a href="../dailynews/<%= post.id %>"
                        class="list-group-item list-group-item-action flex-column align-items-start post <% if (index % 2 == 0) { %>  bg-light <% } %>">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="article-title mb-1"><%= post.news_title %> </h6>
                            <small
                                class="article-date"><%= moment(post.creation_date, "YYYYMMDD").startOf('hour').fromNow(); %></small>
                        </div>
                        <small class="text-muted"><%= post.username %></small>
                    </a>
                    <% }) %>
                </div>
            </div>
        </div>
    </section>


<%- include('../partials/footerwomens') %>