<%- include('../partials/headerWomens') %>
<div>
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Title -->
                <h1 class="mt-4"><%- posts[0].news_title %></h1>
    
                <!-- Author -->
                <p class="lead">
                    by 
                    <%- posts[0].username %></a>
                </p>
    
                <hr />
    
                <!-- Date/Time -->
                <p>Posted on <%- posts[0].creation_date.toLocaleString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'}) %></p>
    
                <hr />
    
                <!-- Ad Banner -->
                <!-- Currently it only shows cc banner for client_id = 4 -->
                <% var ad = ads[Math.floor(Math.random() * ads.length)]; %>
                <a href="<%= ad.link %>">
                    <img class="img-fluid" src="<%= 'http://www.canadiancyclist.com' + ad.banner_content %>"
                        alt="<%= ad.campaign_title %>" />
                </a>
    
                <hr />
    
                <!-- Post Content -->
                <div id="full-article">
                    <%- posts[0].news_content.replace(/(\.\.\/)/g , 'http://www.canadiancyclist.com/') %>
                </div>
    
                <hr />

                <p>
                    <a href="/womenscycling">Return to Cycling for Women Homepage</a>
                    &nbsp;|&nbsp;
                    <a href="#top">Back to Top</a>
                </p>
            </div>
    <!-- /.row -->
    </div> 
</div>


<%- include('../partials/footerWomens') %>
