<%- include('../partials/header') %>

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Photos</h1>
        <p class="lead">Copyright notice: The photos that appear on www.CanadianCyclist.com are all subject to
            copyright, and MAY NOT be reproduced in any form, anywhere else without permission. Contact Canadian Cyclist
            to request permission <a href=mailTo:editor@canadiancyclist.com> editor@canadiancyclist.com</a>.<br><br>
            Copies of the photographs can be requested by contacting Canadian Cyclist <a
                href=mailTo:editor@canadiancyclist.com>editor@canadiancyclist.com</a>.</p>
    </div>
</div>

<!-- gallery -->
<a name="top"></a>
<div class="container">
    <div class="text-center">
        <!-- display the year on the url for the heading -->
        <h2 class="mb-4"><%= events[0].year_num %> Photos</h2>
        <!-- get all distinct event title, date_from, date_to, and event_location for the selected year -->
        <!-- older photos sotred in subcategory table not photo table -->
        <% for (var i = 0; i < events.length; i++) { %>
        <!-- check if photo_link is null usually events after 2009 -->
        <!-- if it is null, check if it is exsited in photo table to get photos -->
        <% if (events[i].photo_link == null) { %>
        <% for (var j = 0; j < photoEvents.length; j++) { %>
        <% if (events[i].id == photoEvents[j].id) { %>
        <h5><%= events[i].event_title %></h5>
        <p><%= events[i].date_from.toLocaleDateString('en-US') %> - <%= events[i].date_to.toLocaleDateString('en-US') %>
            <%= events[i].event_location %></p>
        <!-- get all sub_category of the selected event -->
        <!-- pass year, event_id, and sub_category_id on url -->
        <% for (var x = 0; x < subs.length; x++) { %>
        <% if (events[i].id == subs[x].cc_event_id) { %>
        <a href="/photos/<%= events[i].year_num %>/<%= subs[x].cc_event_id %>/<%= subs[x].id %>">
            <p><%= subs[x].event_sub_category %></p>
        </a>
        <% } %>
        <% } %>
        <% } %>
        <% } %>
        <% } %>
        <!-- check if photo_link is in subcategory tables usually events before 2009 -->
        <% if (events[i].photo_link != null) { %>
        <h5><%= events[i].event_title %></h5>
        <!-- check if date_to is not null -->
        <!-- if it is null, exclude date_to -->
        <% if (events[i].date_to != "0000-00-00") { %>
        <p><%= events[i].date_from.toLocaleDateString('en-US') %> - <%= events[i].date_to.toLocaleDateString('en-US') %>
            <%= events[i].event_location %></p>
        <% } else { %>
        <p><%= events[i].date_from.toLocaleDateString('en-US') %> <%= events[i].event_location %></p>
        <% } %>
        <!-- get all sub_category of the selected event -->
        <!-- pass year, event_id, and sub_category_id on url -->
        <% for (var x = 0; x < subs.length; x++) { %>
        <% if (events[i].id == subs[x].cc_event_id) { %>
        <% let address = 'http://www.canadiancyclist.com' %>
        <% let photo_url = subs[x].photo_link %>
        <a href="<%= address.concat(photo_url) %>">
            <p><%= subs[x].event_sub_category %></p>
        </a>
        <% } %>
        <% } %>
        <% } %>
        <% } %>
    </div>

    <!-- copyright -->
    <hr class="mt-2 mb-2">
    <p class="font-weight-light">Copyright notice: The photos that appear on www.CanadianCyclist.com are all subject to
        copyright, and MAY NOT be reproduced in any form, anywhere else without permission. Contact Canadian Cyclist to
        request permission <a href=mailTo:editor@canadiancyclist.com> editor@canadiancyclist.com</a>.</p>
    <p class="font-weight-light">Copies of the photographs can be requested by contacting Canadian Cyclist <a
            href=mailTo:editor@canadiancyclist.com>editor@canadiancyclist.com</a>.</p>
    <p>
        <a href="/photos">Return to Main Photo page</a>
        &nbsp;|&nbsp;
        <a href="#top">Back to Top</a>
    </p>
</div>

<%- include('../partials/footer') %>