<%- include('partials/header') %>

<div class="container">
    <h3 class="text-center list-group-item list-group-item-action align-items-start post bg-light mrl-2">Beer Reviews</h3>
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <% posts.forEach((post, index) => { %>
            <!-- Title -->
            <h2 class="mt-4"><%- post.beer.replace(/\\'/g , "'").replace(/\\"/g , '"') %></h2>
              
            <!-- Author -->
            <!-- <% if (post.reviewer) { %>
                <p class="lead">
                    by
                    <a href="#"><%- post.reviewer %></a>
                </p>
            <% } %> -->
            <hr />
            <!-- Post Content -->
            <div id="full-article">
                <%- post.description.replace(/\\'/g , "'") %>
            </div>
            
            <br />
        
            <% if (post.phone) { %>
                <p><span class="font-weight-bold">Phone: </span><%- post.phone %></p>
            <% } %>

            <% if (post.url) { %>
                <p><span class="font-weight-bold">Website: </span><%- post.url %></p>
            <% } %>

            <hr />
            <br />
            <br />

            <% }) %>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Search for..."
                        />
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                Go!
                            </button>
                        </span>
                    </div>
                </div>
            </div>
    </div>
    <!-- /.row -->
</div>

<%- include('partials/footer') %>
