<%- include('partials/header') %>

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Photos</h1>
        <p class="lead">Copyright notice: The photos that appear on www.CanadianCyclist.com are all subject to
            copyright, and MAY NOT be reproduced in any form, anywhere else without permission. Contact Canadian Cyclist
            to request permission <a href=mailTo:editor@canadiancyclist.com> editor@canadiancyclist.com</a>.<br><br>
            Copies of the photographs can be requested by contacting Canadian Cyclist <a
                href=mailTo:editor@canadiancyclist.com>editor@canadiancyclist.com</a>.</p>
    </div>
</div>

<!-- gallery -->
<div class="container">
    <div class="text-center">
        <!-- display the year on the url for the heading -->
        <h2 class="mb-4"><%= posts[0].year_num %> Photos</h2>
        <!-- get all distinct event title, date_from, date_to, and event_location for the selected year -->
        <% for (var i = 0; i < posts.length; i++) { %>
        <h5><%= posts[i].event_title %></h5>
            <% if (posts[i].date_to != "0000-00-00") { %>
                <p><%= posts[i].date_from.toLocaleDateString('en-US') %> - <%= posts[i].date_to.toLocaleDateString('en-US') %> <%= posts[i].event_location %></p>
            <% } else { %>
                <p><%= posts[i].date_from.toLocaleDateString('en-US') %> <%= posts[i].event_location %></p>
            <% } %>
        <!-- get all sub_category of the selected event -->
        <!-- pass year, event_id, and sub_category_id on url -->
        <% for (var j = 0; j < types.length; j++) { %>
        <% if (types[j].cc_event_id == posts[i].id) { %>
        <a href="../photos/<%= posts[i].year_num %>/<%= types[j].cc_event_id %>/<%= types[j].id %>">
            <p><%= types[j].event_sub_category %></p>
        </a>
        <% } %>
        <% } %>
        <% } %>
    </div>

    <!-- copyright -->
    <hr class="mt-2 mb-2">
    <p class="font-weight-light">Copyright notice: The photos that appear on www.CanadianCyclist.com are all subject to
        copyright, and MAY NOT be reproduced in any form, anywhere else without permission. Contact Canadian Cyclist to
        request permission <a href=mailTo:editor@canadiancyclist.com> editor@canadiancyclist.com</a>.</p>
    <p class="font-weight-light">Copies of the photographs can be requested by contacting Canadian Cyclist <a
            href=mailTo:editor@canadiancyclist.com>editor@canadiancyclist.com</a>.</p>
    <a href="/photos">
        <p>Return to Main Photo page</p>
    </a>
</div>

<%- include('partials/footer') %>