<%- include('partials/header') %>

<!--content-->
<div class="container">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Milton Track World Cup: Team Canada</h1>
  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
    <% posts.forEach((post) => { %>
    <div class="d-block col-md-4 col-6 mb-4">
      <a href="http://www.canadiancyclist.com/<%= post.photo_location %>" data-size="1600x1067">
        <img class="img-fluid img-thumbnail" src="<%= post.photo_location.replace(/(..)/g , 'http://www.canadiancyclist.com/' %>"
          alt="photo">
      </a>
    </div>
    <% }) %>

    <div class="d-block col-md-4 col-6 mb-4">
      <a href="/assets/img/photo1.jpg" data-size="1600x1067">
        <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
      </a>
    </div>
    <div class="d-block col-md-4 col-6 mb-4">
      <a href="/assets/img/photo1.jpg" data-size="1600x1067">
        <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
      </a>
    </div>
    <div class="d-block col-md-4 col-6 mb-4">
      <a href="/assets/img/photo1.jpg" data-size="1600x1067">
        <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
      </a>
    </div>
  </div>

  <h3 class="font-weight-semibold text-center text-lg-left mt-2 mb-0">Related Galleries</h3>
  <p class="font-weight-light text-center text-lg-left mt-1 mb-0">
    <%= posts[0].event_title %> <%= posts[0].date_from.toLocaleDateString() %> to
    <%= posts[0].date_to.toLocaleDateString() %> in <%= posts[0].event_location %></p>

  <hr class="mt-2 mb-2">
  <p class="font-weight-light">Copyright notice: The photos that appear on www.CanadianCyclist.com are all subject to
    copyright, and MAY NOT be reproduced in any form, anywhere else without permission. Contact Canadian Cyclist to
    request permission <a href=mailTo:editor@canadiancyclist.com> editor@canadiancyclist.com</a>.</p>
  <p class="font-weight-light">Copies of the photographs can be requested by contacting Canadian Cyclist <a
      href=mailTo:editor@canadiancyclist.com>editor@canadiancyclist.com</a>.</p>
  <a href="#">Return to Main Photo page</a>
</div>

<%- include('partials/footer') %>