<%- include('partials/header') %>

<div class=" container d-flex justify-content-center">
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"> </li>
        </ol>
        <div class="carousel-inner">
            <% posts.forEach((post, index) => { %>
            <div class="carousel-item  <% if (index == 0) { %>  active <% } %> "> 
                <div class="col-lg-12 mb-4 mt-2" >
                    <div class="card h-100">
                        <img class="card-img-top featured-image" src="assets/img/bike1.jpg" >
                        <div class="card-body">
                            <h5 class="card-title"><%= post.title %></h5>
                            <h6 class="card-text"><%= post.date %></h6>
                            <blockquote class="blockquote">
                                <p class="mb-0"><%= post.content %> </p>
                                <footer class="blockquote-footer"><%= post.author %></cite></footer>
                            </blockquote>
                            <br>
                            <a href="" class="btn btn-outline-success">Read More</a>
                            <a href="" class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
</div>


<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Daily News</h1>
      <p class="lead">News from around Canada, and around the world. Check back here every day for the latest news about racing, events, people and places. Be sure to try out the Archives at the bottom of this page - now a searchable index. We are always looking for cycling news in your community, so drop us a line <a href="mailto:news@canadiancyclist.com">(news@canadiancyclist.com)</a>  - we'll be sure to credit you if we use it!</p>
    </div>
</div>    
<!--Recent Articles-->
<section id="main">
    <div class="cont">
        <div id="list">
            <!--Article Lists-->
            <div class="list-group m-3" >
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-150 justify-content-between">
                        <h5 class="mb-1">Less Important Bike Event </h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Clear Creek Trail is a fun single track that traverses the hills between Jack's Valley Rd and Highway 50.</p>
                    <small class="text-muted">Fabio Kim</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Less Important Bike Event</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Clear Creek Trail is a fun single track that traverses the hills between Jack's Valley Rd and Highway 50.</p>
                    <small class="text-muted">Fabio Kim</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Less Important Bike Event</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Clear Creek Trail is a fun single track that traverses the hills between Jack's Valley Rd and Highway 50.</p>
                    <small class="text-muted">Fabio Kim</small>
                </a>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>
