<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-center w-100">
                <div id="slides" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slides" data-slide-to="0" class="active"></li>
                        <li data-target="#slides" data-slide-to="1"></li>
                        <li data-target="#slides" data-slide-to="2"> </li>
                    </ol>
                    <div class="carousel-inner p-0 m-0">
                        <% const featuredposts = posts.slice(0,5) %>
                        <% featuredposts.forEach((post, index) => { %>
                        <div class="carousel-item  <% if (index == 0) { %>  active <% } %>" style="padding: 0;"  > 
                            <div class="col-lg-12 mb-4 mt-1 p-0" >
                                <div class="card h-100">
                                    <img class="card-img-top featured-image" src="assets/img/bike1.jpg" >
                                    <div class="card-body">
                                        <h5 class="card-title"><%= post.news_title %></h5>
                                        <h6 class="card-text"><%= post.creation_date.toLocaleString() %></h6>
                                        <blockquote class="blockquote">                                
                                            <footer class="blockquote-footer"><cite><%= post.username %></cite></footer>
                                        </blockquote>
                                        <br>
                                        <a href="../dailynews/<%= post.id %>" class="btn btn-outline-success">Read More</a>
                                        <a href="" class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <section id="main p-0">
                <div class="cont">
                    <div id="list p-0">
                        <!--Article Lists-->
                        <div class="list-group mt-1 mb-4 p-0 container"  >
                            <% const regularposts = posts.splice(0, 5) %> 
                            <% posts.forEach((post, index) => { %>                            
                            <a href="../dailynews/<%= post.id %>" class="list-group-item list-group-item-action flex-column align-items-start post">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="article-title mb-1"><%= post.news_title %> </h5>
                                    <small><%= post.creation_date.toLocaleString() %></small>
                                </div>
                                <p class="mb-1"></p>
                                <small class="text-muted"><%= post.username %></small>
                            </a>
                            <% }) %>  
                        </div>                      
                    </div>
                </div>
            </section>
        </div>
    </div>   
</div>


<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Daily News</h1>
      <p class="lead">News from around Canada, and around the world. Check back here every day for the latest news about racing, events, people and places. Be sure to try out the Archives at the bottom of this page - now a searchable index. We are always looking for cycling news in your community, so drop us a line <a href="mailto:news@canadiancyclist.com">(news@canadiancyclist.com)</a>  - we'll be sure to credit you if we use it!</p>
    </div>
</div>    
<!--Recent Articles-->

<%- include('partials/footer') %>
